<html>
  <head>
    <base href="/">
    <script src="resources/js/angular.js"></script>
    <script src="resources/js/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <script src="app/controllers/searchCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/flightDetailsCtrl.js"></script>
    <script src="../../../app/controllers/flightDetailsCtrl.js"></script>
    <script src="../../../app/controllers/bookingCtrl.js"></script>
    <script src= "../../../app/controllers/bookingHistoryCtrl.js"></script>
    <script src= "../../../app/controllers/cancelBookingCtrl.js"></script>
    <script src= "../../../app/controllers/bookingCtrl.js"></script>
    <script src= "../../../app/controllers/bookingDetailsCtrl.js"></script>


    <script src= "../../../app/services/authServices.js"></script>
    <script src= "../../../app/services/userServices.js"></script>
    <script src= "../../../app/services/bookingHistoryServices.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="resources/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="resources/css/animate.css">
    <title>Airline Reservation System</title>
  </head>
  <body ng-app="airlineApp" ng-controller="mainCtrl as main" onload="getSelSeats()">
    <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" style="font-size:50px" href="/"> LETSFLY</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="height : 10px">
          <li class="">
            <a  class="page-scroll" href="/">Home</a>
          </li>
          <li class="">
              <a ng-show = "!main.isLoggedIn" class="page-scroll" href="/login">Login</a>
          </li>
          <li class="">
              <a class="page-scroll" href="/contacts">Contacts</a>
          </li>
          <li class="">
              <a class="page-scroll" href="/about">About Us</a>
          </li>
          <li><a href="/userProfile"><img id="profile" src= "images/userprofile.jpg"></a>  </li>
          <li class="">
              <a ng-show = "main.isLoggedIn" class="page-scroll" href="/logout" ng-click="main.logout();">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <br><br>
    <h2 style="font-size:150%;margin-left: 10px;color: brown;">Enter passenger details:</h2>
    <div ng-controller="bookController">
    <div class = container_details >
      <br><br>
      <form id="detailsForm" class="form-inline" action="/action_page.php">
        <div class="col-md-4">
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name" ng-model="firstName">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name" ng-model="lastName">
        </div>
        <div class="col-md-4">
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email">
        </div>
        <div class="col-md-4" >
            <input type="text" class="form-control" id="seats"  ng-model="seats" >
          </div>
        <div class="col-md-4">
          <input type="number" class="form-control" id="phone" placeholder="Enter Preferred Phone Number" ng-model="phone">
        </div>
        <label for="radiobtn control-label col-sm-2" class="col-sm-4 control-label">Gender</label>
        <div class="col-sm-5">
        <div class="radio radio-danger">
        <input type="radio" name="survey" id="Radios1" value="Male" ng-model="male" >
        <label>
        Male
        </label>
        </div>
        <div class="radio radio-danger">
        <input type="radio" name="survey" id="Radios2" value="Female" ng-model="female">
        <label>
        Female
        </label>
        </div>
        </div>
    </div>
    </form>
    <h1 style="font-size:150%;margin-left: 10px;color: brown;">Payment Information</h1>
    <center>

      <div class="custom-control custom-radio custom-control-inline" id = "radioButton">
          <input type="radio" class="custom-control-input" id="defaultInline2" onclick= "javascript:paymentCheck();" name="inlineDefaultRadiosExample" checked>
          <label class="custom-control-label" for="defaultInline2">Card</label>
          <input type="radio" class="custom-control-input" id="defaultInline1" onclick= "javascript:paymentCheck();" name="inlineDefaultRadiosExample">
          <label class="custom-control-label" for="defaultInline1">PayPal</label>

      </div></center>
    <script type="text/javascript">
    function paymentCheck() {
      if (document.getElementById('defaultInline1').checked) {
          document.getElementById('paypal').style.visibility = 'visible';
          document.getElementById('card').style.visibility = 'hidden';
      }
  	else if (document.getElementById('defaultInline2').checked){
        document.getElementById('paypal').style.visibility = 'hidden';
        document.getElementById('card').style.visibility = 'visible';
    }


    }

    </script>
    <form class="form-inline" action="/action_page.php">
      <div class = "container_payment" id= "card">
        <br><br>
        <form class="form-inline" >
					<div class="col-md-4">
						<input type="text" id="search_field1" class="form-control" name="search_title" placeholder="Card Number" >
					</div>
					<div class="col-md-4">
						<input type="text" id="search_field2" class="form-control" name="search_title" placeholder="Card Type">
					</div>
					<div class="col-md-4">
       			<input class="form-control" id="depart" name="depart" placeholder="Exp.Date" type="text" />
       		</div>
          <br> <br>
          <div class="col-md-4">
						<input type="text" id="search_field3" class="form-control" name="search_title" placeholder="CVV">
					</div>
          <div class="col-md-4">
						<input type="text" id="search_field4" class="form-control" name="search_title" placeholder="First Name">
					</div>
          <div class="col-md-4">
						<input type="text" id="search_field5" class="form-control" name="search_title" placeholder="Last Name">
					</div>
      </div>
    </form>

      <div class = "container_paypal" id= "paypal" style="visibility:hidden">
        <br><br>
        <form class="form-inline" >
					<div class="col-md-4">
						<input type="text" id="search_field6" class="form-control" name="search_title" placeholder="Email" >
					</div>
					<div class="col-md-4">
						<input type="text" id="search_field7" class="form-control" name="search_title" placeholder="Password">
          </div>
          
      </form>
      </div>
    <br>
    <center>
    <div class="input-group">
      <span class="input-group-btn">
                  <!--<button ng-click="goto('/search')" class="btn btn-primary " name="search" type="submit">-->
                      <button ng-click="submit(detailsForm)" class="btn btn-danger "  type="submit">

          Book
           </button>
    </span>
    </div>
  </center>
    </div>
    <div ng-view></div>
  </body>
  <script>
      function getSelSeats(){
        var seats = sessionStorage.getItem('seats');
        document.getElementById("seats").value = seats;

        if(!seats || seats.length == 0){
          alert("Seats not selected");
        }
        console.log("seats passed from booking page - " + seats);
        //sessionStorage.removeItem('seats');
        return seats;
      }
    </script>
</html>
