<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Welcome to BooKart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="resources/css/bookingHistory.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
        <script src="app.js"></script>
    </head>
    <div id="bookListWrapper">
    	<form role="form">
    	  <div class="form-group">
    		<input type="text" class="form-control" placeholder="Search here..."
    			ng-model="searchStr">
    	  </div>
    	</form>
    	<ul class="list-unstyled">
    		<li class="book" ng-repeat="book in books | filter:searchStr"
    			style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
    			<!-- <div class="book-details clearfix"> -->
    				<h3>{{book.name}}</h3>
    				<p>{{book.price | currency:'Rs.'}}</p>
    				<ul>
    					<li>Rating: {{book.rating}}</li>
    					<li>Binding: {{book.binding | uppercase}}</li>
    					<li>Publisher: {{book.publisher}}</li>
    					<li>Released: {{book.releaseDate}}</li>
    				</ul>
    				<p>{{book.details}}</p>
    			<!-- </div> -->
    		</li>
    	</ul>
    </div>
</html>
