<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Welcome to BooKart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../resources/css/bookingHistory.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <script src="resources/js/angular.js"></script>
        <script src="resources/js/angular-route.js"></script>
        <script src="app/app.js"></script>
        <script src="app/routes.js"></script>
        <script src="app/controllers/searchCtrl.js"></script>
        <script src="../../../app/controllers/mainCtrl.js"></script>
        <script src="app/controllers/userCtrl.js"></script>
        <script src="../../../app/controllers/flightDetailsCtrl.js"></script>
        <script src="../../../app/controllers/bookingCtrl.js"></script>
        <script src= "../../../app/controllers/bookingHistoryCtrl.js"></script>
        <script src= "../../../app/controllers/cancelBookingCtrl.js"></script>
        <script src= "../../../app/services/authServices.js"></script>
        <script src= "../../../app/services/userServices.js"></script>
        <script src= "../../../app/services/bookingHistoryServices.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    </head>
    

<body ng-app="airlineApp" ng-controller="bookingHistoryCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-shrink">
    <div class="container" ng-controller="mainCtrl as main">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll" style="font-size:50px" href="/"> LETSFLY</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <!--  <div class="dummy"> -->

            <!-- </div> -->
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li class="">
                    <a class="page-scroll" href="/home">Home</a>
                </li>

                <li class="">
                    <a class="page-scroll" href="/login">Login</a>
                </li>


                <li class="">
                    <a class="page-scroll" href="/contacts">Contacts</a>
                </li>

                <li class="">
                    <a class="page-scroll" href="/about">About Us</a>
                </li>
                <li>
                  <a href="/userProfile"><img id="profile" src= "images/userprofile.jpg"></a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#" ng-click="main.logout();">Logout</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <div ng-view></div>

</nav>
<div ng-view></div>
<br><br><br><br>
  <!-- <h1>
    {{ main.username1 }}
  </h1> -->
  <!-- <form role="form">
    	  <div class="form-group">
    		<input type="text" class="form-control" placeholder="Search here..."
    			ng-model="searchStr">
    	  </div>
    	</form> -->
    	<!-- <ul class="list-unstyled">
    		<li class="book" ng-repeat=" bookingHistoryItem in bookingHistory | filter:searchStr"
    			style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
          <li class="book" ng-repeat=" bookingHistoryItem in bookingHistoryItemList">
    			<div class="book-details clearfix">
    				<h3>{{bookingHistoryItem.bookingid}}</h3>
    				<ul>
    					<li>FirstName: {{bookingHistoryItem.firstName}}</li>
    					<li>LastName: {{bookingHistoryItem.lastName}}</li>
    					<li>Email: {{bookingHistoryItem.email}}</li>
    					<li>Phone: {{bookingHistoryItem.phone}}</li>
              <li>Gender: {{bookingHistoryItem.gender}}</li>
              <li>Phone: {{bookingHistoryItem.phone}}</li>
    				</ul>
    			</div>
    		</li>
      </ul> -->
      <h1 style="font-size:150%; margin-left: 10px; color: brown;">Booking History</h1>
    	<div class="container_flights">
        <table st-table="Bookings" class="table table-striped">
          <thead>
            <tr>
              <th>BookingID</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bookingHistoryItem in bookingHistory">
              <td>{{bookingHistoryItem.bookingid}}</td>
              <td>{{bookingHistoryItem.firstName}}</td>
              <td>{{bookingHistoryItem.lastName}}</td>
              <td>{{bookingHistoryItem.email}}</td>
              <td>{{bookingHistoryItem.phone}}</td>
              <td>{{bookingHistoryItem.gender}}</td>
            </tr>
          </tbody>
          </table>
      </div>
</body>
</html>


<!-- <form role="form">
    	  <div class="form-group">
    		<input type="text" class="form-control" placeholder="Search here..."
    			ng-model="searchStr">
    	  </div>
    	</form> -->
    	<!-- <ul class="list-unstyled"> -->
    		<!-- <li class="book" ng-repeat=" bookingHistoryItem in bookingHistoryItemList | filter:searchStr"
    			style="background: white url('imgs/{{book.imgUrl}}') no-repeat"> -->
          <!-- <li class="book" ng-repeat=" bookingHistoryItem in bookingHistoryItemList"> -->
    			<!-- <div class="book-details clearfix"> -->
    				<!-- <h3>{{bookingHistoryItem.bookingid}}</h3> -->
    				<!-- <ul> -->
    					<!-- <li>FirstName: {{bookingHistoryItem.firstName}}</li> -->
    					<!-- <li>LastName: {{bookingHistoryItem.lastName}}</li> -->
    					<!-- <li>Email: {{bookingHistoryItem.email}}</li> -->
    					<!-- <li>Phone: {{bookingHistoryItem.phone}}</li> -->
              <!-- <li>Gender: {{bookingHistoryItem.gender}}</li> -->
              <!-- <li>Phone: {{bookingHistoryItem.phone}}</li> -->
    				<!-- </ul> -->
    			<!-- </div> -->
    		<!-- </li> -->
    	<!-- </ul> -->